<html>
    <body>
        <h1>{{profile.first_name}} {{profile.last_name}}'s Profile</h1>
        <p>
            <strong>About me</strong> <br>
            {{profile.about_me}} <br>
        </p>
        <p>
            <strong>Contact</strong> <br>
            Email: {{profile.email}} <br>
            Phone: {{profile.phone}} <br>
        </p>
        <p>
            <strong>{{profile.first_name}} {{profile.last_name}}'s Schedule</strong>
        </p>
        {% for event in events %}
        {% if event != None %}
            <p>
                <strong>Date: </strong> {{event.date}} <br>
                <strong>Start Time: </strong> {{event.start}} <br>
                <strong>End Time: </strong> {{event.end}} <br>
                <strong>Description: </strong> <br>
                {{event.description}}
            </p>
        {% endif %}
        {% endfor %}
    </body>
</html>
