<html>
    <body>
        <h1>My Profile</h1>
        <p>
            <a href="/editprofile?">Edit Profile</a> <br>
            <a href="/addevent">Add Event</a>
        </p>
        <p>
            <strong>First Name:</strong> {{profile.first_name}} <br>
            <strong>Last Name:</strong> {{profile.last_name}} <br>
            <strong>Email:</strong> {{profile.email}} <br>
            <strong>Phone:</strong> {{profile.phone}} <br>
            <strong>About Me:</strong> <br>
            {{profile.about_me}}
            <!-- {% if profile.about_me == "" %}
                Click on <em>Edit Profile</em> and write a little about yourself! <br>
            {% endif %} -->
        </p>
        <p>
          <strong>My Schedule:</strong> <br>
        </p>

        {% for event in events %}
        <p>
          <strong>Date: </strong> {{event.date}} <br>
          <strong>Start Time: </strong> {{event.start}} <br>
          <strong>End Time: </strong> {{event.end}} <br>
          <strong>Description: </strong> <br>
          {{event.description}}
        </p>
        {% endfor %}

    </body>
</html>
